@import 'base/variables';
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/slick.scss';
@import 'blocks/media.scss';

* {
	font-family: 'Museo Sans Cyrl', sans-serif;
}

body {
	margin: 0;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}
