@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .container {
        padding: 8px;
    }
    .carousel {
        padding: 20px 0;
    }
    .catalog {
        &__content {
            justify-content: center;
            gap: 0 10px
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
    }
    .title {
        font-size: 23px;
    }
    .advantages {
        padding: 30px 0;
        &__wrapper {
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 20px;
        }
        &__subtitle {
            margin-top: 15px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            width: 70%;
            margin-bottom: 15px;
        }
        &-item {
            width: 70%;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 80%;
        }
        &__official {
            margin-top: 20px;
            font-size: 20px;
        }
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
    }
    .header__button, .button_main {
        margin-top: 25px;
        width: 200px;
        height: 75px;
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 20px;
        }
        &__icons {
            margin-top: 25px;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__header, &__subheader {
            text-align: center;
        }
    }
    .feed-form {
        width: 100%;
    }
    .consultation {
        padding: 25px 0 0 0;
    }
}
